In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
galaxies1=pd.read_csv('../Catalogs/flat_slice1.txt', sep='\t')

In [4]:
galaxies2=pd.read_csv('../Catalogs/cosmoDC2_v1.1.4_small_with_photozs_v1.healpix_pixel9816.stamp.67.25.67.75.-37.5.-37.zslice.0.6.0.8-flat-disperse.txt', sep='\t')

In [5]:
galaxies2

               id         px         py  stellar_mass
0      8062500279  -8.996785   9.256032  1.043287e+06
1      8062500512  -5.911317  13.898010  8.594449e+05
2      8062500515   6.629973  10.206810  9.058346e+05
3      8062501167   0.295272  -3.614667  4.297643e+05
4      8062501223   0.533357 -10.420680  2.783277e+06
...           ...        ...        ...           ...
27618  8082698585  10.037290  -3.495499  6.491833e+09
27619  8082699023 -10.071590   0.598086  1.201093e+10
27620  8082706538   8.467632   3.961691  1.132923e+10
27621  8082708708   2.822918 -12.385640  1.263435e+09
27622  8083038553  10.059010   7.202885  2.336023e+09

[27623 rows x 4 columns]

In [6]:
galaxies1

               id        px        py  stellar_mass
0      8062500279 -8.998659  9.255839  1.043287e+06
1      8062501167  0.293399 -3.614860  4.297643e+05
2      8062501427  9.198692  9.195337  7.387323e+05
3      8062501496 -8.023319  2.099325  5.438191e+05
4      8062501604  8.809990  0.629613  3.047997e+06
...           ...       ...       ...           ...
12043  8082031344  6.036588 -4.830847  4.594847e+09
12044  8082034073 -2.880311 -2.037483  2.148208e+09
12045  8082657168 -1.625003 -1.869901  5.104923e+10
12046  8082693163  5.041464 -9.333268  8.374020e+09
12047  8082706538  8.465758  3.961498  1.132923e+10

[12048 rows x 4 columns]